<mat-card style="max-height: 500px; overflow-y: scroll;">
    <mat-card-content style="background-color: #692187;">
        <mat-card-header style="padding: 10px; font-size: 40px; color: aliceblue;">Add Recived Item</mat-card-header>
        <div class="row">
                <mat-form-field style="max-width: 300px;">
                    <mat-label >PO Number</mat-label>
                        <input matInput value="(PO No)">
                </mat-form-field>
    
                <mat-form-field style="max-width: 400px;">
                    <mat-label>DNO</mat-label>
                    <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
        </div>
    
        <div class="row">
            <mat-form-field style="max-width: 700px;">
                <mat-label>Description</mat-label>
                    <input matInput value="(Item Description)">
            </mat-form-field>
        </div>
    
        <div class="row">
            <mat-form-field style="max-width: 200px;">
                <mat-label>PO Number</mat-label>
                    <input matInput value="(PO No)">
            </mat-form-field>
    
            <mat-form-field style="max-width: 500px;">
                <mat-label>PO Number</mat-label>
                    <input matInput value="(PO No)">
            </mat-form-field>
        </div>
    
        <div class="row">
            <mat-form-field style="max-width: 350px;">
                <mat-label>Serial Number</mat-label>
                    <input matInput value="(PO No)">
            </mat-form-field>
    
            <mat-form-field style="max-width: 350px;">
                <mat-label>Property Number</mat-label>
                    <input matInput value="(auto gen)">
            </mat-form-field>
        </div>
    
        <div class="row">
            <mat-form-field style="max-width: 175px;">
                <mat-label>PO Number</mat-label>
                    <input matInput value="(PO No)">
            </mat-form-field>
    
            <mat-form-field style="max-width: 175px;">
                    <input matInput value="(PO No)">
            </mat-form-field>
    
            <mat-radio-group aria-label="Item Type" style="max-width: 350px;">
                <mat-radio-button value="1">Supplies</mat-radio-button>
                <mat-radio-button value="2">Hardware</mat-radio-button>
                <mat-radio-button value="3">License</mat-radio-button>
              </mat-radio-group>
        </div>
    
        <div class="row">
            <mat-form-field style="max-width: 700px;">
                <mat-label>Assignee</mat-label>
                    <input matInput value="(PO No)">
            </mat-form-field>
        </div>
    </mat-card-content>
    
    <hr>
    <mat-card-content style="background-color: #47a376;">
        <br>
        <div class="row">
            <mat-form-field style="max-width: 230px;">
                <mat-label>PO ORDERED QTY</mat-label>
                    <input matInput>
            </mat-form-field>
    
            <mat-form-field style="max-width: 230px;">
                <mat-label>PO BAlance QTY</mat-label>
                    <input matInput>
            </mat-form-field>
    
            <mat-form-field style="max-width: 230px;">
                <mat-label>Enterd RR QTY</mat-label>
                    <input matInput>
            </mat-form-field>
        </div>
    </mat-card-content>
    
    </mat-card>