table {
    width: 100%;
  }

  .example-button-row {
    padding:  10 px;
   }

   .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }

  .datе-picker-wrapper {
    padding: 1rem;
    max-width: 600px;
    color: aliceblue;
}