<mat-card style="max-height: 600px; overflow-y: scroll;">
    <mat-card-header style="color: aliceblue; font-size: 20px;">FIXED ASSET AND I.T. HARDWARE</mat-card-header>
<hr>
    <mat-card-content  style="background-color: #38835e; padding-top: 10px;">

        <div class="row" style="float:right;">
            <mat-form-field style="max-width: 200px;">
                <mat-label>CPREPNO</mat-label>
                <input matInput disabled="true" value="autogen">
            </mat-form-field>
            <mat-form-field style="max-width: 200px;">
                <mat-label>Date</mat-label>
                <input matInput disabled="true" value="autogen">
            </mat-form-field>
        </div>
    </mat-card-content>

    <mat-card-content style="padding-top: 20px;">
        <div class="row">
            <mat-form-field style="max-width: 292px;">
                <mat-label>Payee</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field style="max-width: 292px;">
                <mat-label>Amount</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
   
        <div class="row">
            <mat-form-field style="max-width: 600px;">
                <mat-label>Payment For</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
        </div>
    </mat-card-content>

    <hr>
    <mat-card-header style="color: aliceblue; font-size: 20px;">P.O. Details</mat-card-header>

    <mat-card-content  style="background-color: #38835e; padding-top: 20px;">
        <div class="row" >
            <mat-form-field style="max-width: 292px;">
                <mat-label>Supplier NO</mat-label>
                <input matInput disabled="true" value="autogen">
            </mat-form-field>

            <mat-form-field style="max-width: 292px;">
                <mat-label>Canvas NO</mat-label>
                <input matInput disabled="true" value="autogen">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field style="max-width: 600px;">
                <mat-label>Supplier Name</mat-label>
                <input matInput disabled="true" value="autogen">
            </mat-form-field>
        </div>

        <div class="row" >
            <mat-form-field style="max-width: 292px;">
                <mat-label>Request By</mat-label>
                <input matInput disabled="true" value="autogen">
            </mat-form-field>

            <mat-form-field style="max-width: 292px;">
                <mat-label>Department</mat-label>
                <input matInput disabled="true" value="autogen">
            </mat-form-field>
        </div>

        <div class="row" >
            <mat-form-field style="max-width: 292px;">
                <mat-label>Total Amount</mat-label>
                <input matInput [disabled]="disableAmount.value" value="autogen">
            </mat-form-field>

            <mat-form-field style="max-width: 292px;">
                <mat-label>Terms</mat-label>
                <input matInput disabled="true" value="autogen">
            </mat-form-field>
        </div>

        <div>
                <section class="example-section">
                    <mat-checkbox [formControl]="disableAmount">Disable Editable P.O. Amount</mat-checkbox>
                </section>
        </div>

        <div class="row">
            <mat-form-field style="max-width: 600px;">
                <mat-label>Remarks</mat-label>
                <textarea matInput disabled="true"></textarea>
              </mat-form-field>
        </div>

    </mat-card-content>

    <mat-card-content style="padding-top: 20px;">
        <div class="example-button-row">
            <button mat-raised-button color="accent" style="max-width: 200px;">Save</button>
            <button mat-raised-button color="accent" style="max-width: 200px;"  mat-dialog-close >Cancel</button>
        </div>
    </mat-card-content>


</mat-card>